

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.navbar{
    width: 100%;
    height: 8%;
    background-color: #d1fae5;
    color: #10b981;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
}

.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f8fc;
    width: 100%;
    height: 74%;
}

.message{
    width: 30dvh;
    height: 10dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1fae5;
    border: 1px solid orange;
    border-radius: 2dvh;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2.5px 5px rgba(0,0,0,0.2);

}

.message:hover{
    transform: scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}


.middlePart{
    background-color: #f0fdf4 ;
    border: 1px solid orange;
    width: 50dvh;
    height: 60dvh;
    border-radius: 2dvh;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2.5px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middlePart:hover{
    transform: scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}

.player{
    width: 80%;
    height: 60%;
    border-radius: 2dvh;

}

.birthdayCard{
    width: 100%;
    background-color: #d1fae5;
    height: 100%;
    border-radius: 2dvh;
    border: 1px dashed #10b981;
    color: #10b981;
    font-family: "JetBrains Mono", monospace;
    font-size: 5vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    margin-top: 5dvh;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:
            radial-gradient(#10b981  10%, transparent 11%) repeat;
    background-size: 1dvw 1dvw;
    background-color: #d1fae5;
}

.buttons button{
    width: 25%;
    height: 80%;
    background-color: #d1fae5;
    border: 1px solid orange;
    border-radius: 2dvh;
    color: #9e9990;
    font-family: 'JetBrains Mono', monospace;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}

.buttons button:hover{
    transform: translateY(-10%);
}

.buttons button:disabled{
    background-color: #8d9190;
    color: white;
    border-color: #8d9190;
    cursor: not-allowed;
}

.bottomStuff{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #10b981;
    font-family: "JetBrains Mono", monospace;
    width: 100%;
    height: 18%;

    background:
        radial-gradient(#10b981  10%, transparent 11%) repeat;
    background-size: 1dvw 1dvw;
    background-color: #d1fae5;

}

