.stepper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 60vh;
    border: 1px solid orange;
    background: #f0fdf4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-family: "JetBrains Mono", monospace;
    border-radius: 3vh;
}


.step-labels {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-label {
    flex: 1;
    text-align: center;
    border-bottom: 2px solid #ccc;
    color: #999;
    font-weight: normal;
    font-family: "JetBrains Mono", monospace;
}

.step-label.active {
    font-weight: bold;
}

.step-label.completed {
    border-color: orange !important;
    color: #10b981;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 75%;
    text-align: center;
}

.image-container video {
    max-width: 100%;
    max-height: 100%;
}

.cover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1fae5;
    color: #10b981;
    margin: 2vh;
    border-right: 5px solid #10b981;
    border-left: 5px solid #10b981;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);*/
}


.step-buttons {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.step-buttons button {
    width: 40%;
    height: 65%;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #d1fae5;
    color: gray;
    font-family: "JetBrains Mono", monospace;
    transition: background-color 0.3s ease;
}

.step-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.step-buttons button:hover:not(:disabled) {
    background-color: #10b981;
    color: white;
}
